.results {
	margin: 2rem 0 1rem 0;
	border-radius: 5px;
	height: 55vh;
	overflow-y: scroll;
	font-size: 1.25rem;
}

.result {
	padding: .5rem 1.25rem;
	margin: 2rem 1rem;
	border-radius: 10px;
	box-shadow: -2px 5px 20px rgba(200, 200, 200, 1.0);
}