.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -.001rem;
	margin-bottom: 2.5rem;
}

.heading {
	font-weight: 300;
	font-size: 2.5rem;
	max-width: 45vh;
	margin: 0;
	margin-left: 15px;
}